{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/redcodetree/css/style.min.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jstree.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#jstree_div')
                .jstree({
                    'core' : {
                        'data' : {
                            'url' : '{{ path('redcode_tree_data', {'_sonata_admin': _sonata_admin}) }}&operation=get_node',
                            'data' : function (node) {
                                return { 'id' : node.id === '#' ? null : node.id };
                            }
                        },
                        'check_callback' : true,
                        'themes' : {
                            'responsive' : false,
                            'variant' : 'small',
                            'stripes' : true
                        }
                    },
                    'contextmenu' : {
                        'items' : function(node) {
                            var tmp = $.jstree.defaults.contextmenu.items();
                            tmp.create.separator_after = false;
                            delete tmp.rename;
                            delete tmp.remove;
                            delete tmp.ccp;
                            tmp.edit = {
                                label: "Edit",
                                action: function(menu, data) {
                                    var id = menu.reference.prevObject[0].getAttribute('id');
                                    window.location.href = '{{ admin.generateUrl('edit', {'id': '{id}'}) }}'.replace(encodeURI('{id}'), id);
                                }
                            };
                            return tmp;
                        }
                    },
                    'types' : {
                        'default' : { 'icon' : 'fa fa-file-o fa-fw' },
                        'file' : { 'valid_children' : [], 'icon' : 'fa fa-file-o fa-fw' }
                    },
                    'unique' : {
                        'duplicate' : function (name, counter) {
                            return name + ' ' + counter;
                        }
                    },
                    'plugins' : ['state','dnd','types','contextmenu','unique']
                })
                .on('delete_node.jstree', function (e, data) {
                    $.get('{{ path('redcode_tree_data', {'_sonata_admin': _sonata_admin}) }}&operation=delete_node',
                        { 'id' : data.node.id })
                        .fail(function () {
                            data.instance.refresh();
                        });
                })
                .on('create_node.jstree', function (e, data) {
                    data.node.text = 'New page';
                    $.get('{{ path('redcode_tree_data', {'_sonata_admin': _sonata_admin}) }}&operation=create_node',
                        { 'type' : data.node.type, 'parent_id' : data.parent, 'text' : data.node.text })
                        .done(function (d) {
                            data.instance.set_id(data.node, d.id);
                            data.instance.set_text(data.node, d.text);
                        })
                        .fail(function () {
                            data.instance.refresh();
                        });
                })
                .on('rename_node.jstree', function (e, data) {
                    $.get('{{ path('redcode_tree_data', {'_sonata_admin': _sonata_admin}) }}&operation=rename_node',
                        { 'id' : data.node.id, 'text' : data.text })
                        .done(function (d) {
                            data.instance.set_text(data.node, d.text);
                        })
                        .fail(function () {
                            data.instance.refresh();
                        });
                })
                .on('move_node.jstree', function (e, data) {
                    console.log(data);
                    $.get('{{ path('redcode_tree_data', {'_sonata_admin': _sonata_admin}) }}&operation=move_node',
                        { 'id' : data.node.id, 'parent' : data.parent, 'position' : data.position, 'old_position' : data.old_position })
                        .done(function (d) {
                            console.log(d);
                        })
                        .fail(function () {
                            data.instance.refresh();
                        });
                });
        });
    </script>
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% block title %}
    {#
        The list template can be used in nested mode,
        so we define the title corresponding to the parent's admin.
    #}

    {% if admin.isChild and admin.parent.subject %}
        {{ "title_edit"|trans({'%name%': admin.parent.toString(admin.parent.subject)|truncate(15) }, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div id="jstree_div"></div>
    </div>
{% endblock %}

{% block list_filters_actions %}

{% endblock %}

{% block list_filters %}

{% endblock %}

