<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    <meta charset="UTF-8">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/font/font.css') }}">
    {% endblock %}
</head>
<body>
{% block logo %}
    <div id="header">
        <img id="logoImage" src="{{ asset('assets/images/logo.png') }}" alt="Easy trips" title="Easy trips">
        <span id="logoText">Easy Trips</span>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
